.git
.cursor
.agents
.vscode
skills-lock.json
**/node_modules
**/dist
**/build
**/.turbo
**/.pnpm-store
**/coverage
**/report
**/playwright-report
**/test-results
**/logs
**/*.log
**/*.tsbuildinfo
**/.eslintcache
**/.stylelintcache
.env*
