.root {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(18rem, 2fr);
  gap: var(--space-4);
  margin-bottom: var(--space-6);
}

.chart {
  width: 100%;
  height: 17rem;
  font-size: 0.72rem;
}

@media (width <= 62rem) {
  .root {
    grid-template-columns: 1fr;
  }
}
